{% extends "admin/base_site.html" %}

{% block content %}

<p>Select Aircraft to install into:</p>

<form action="" method="post">{% csrf_token %}

    <p>{{ installation_form }}</p>

    <p>These parts will be installed to the selected Aircraft:</p>
    <ul>
        {% for part in parts %}
            <p>
                {{ part}}
                {{part.part_number.part_description}}
            </p>
        {% endfor%}
    </ul>
    <input type="hidden" name="action" value="Install_Items" />
    <input type="submit" name="apply" value="Apply" />
</form>

{% endblock %}
